<!DOCTYPE html>
<html>

<head>
    <title>Autocorrect System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: pink; 
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1>AutoSuggest and Autocorrect System</h1>
        <form method="POST" action="/suggest" class="mt-4">
            <div class="form-group">
                <label for="keyword">Enter a word:</label>
                <input type="text" class="form-control" id="keyword" name="keyword" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div id="suggestions" class="mt-4">
            {% if suggestions %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Suggested Word</th>
                        <th>Similarity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for suggestion in suggestions %}
                    <tr>
                        <td>{{ suggestion['Word'] }}</td>
                        <td>{{ suggestion['Similarity'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Mohd Saif </p>
    </footer>
</body>

</html>
